<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>eVent</title>{% endblock %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:300">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/__codepen_io_andytran_pen.css' %}">

</head>

<body>
  <div class="row">
    <!-- Back to top button -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i id="back-to-top" class="material-icons">keyboard_arrow_up</i></button>

    <!-- Needs to be moved to app.js -->
    <script>
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
    <!-- Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">e-Vent</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <!-- Drop down menu-->
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" id="filterButton" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons">filter_list</i></a>
              <ul class="dropdown-menu">
                <li><a href="browseEvent.html">All</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="browseEvent.html">Location</a></li>
                <li><a href="browseEvent.html">Price</a></li>
                <li><a href="browseEvent.html">Catergory</a></li>
              </ul>
            </li>
          </ul>

          <!-- Search button -->

          <form class="navbar-form navbar-left">
            <button id="searchButton" type="button" class="btn btn-info" data-toggle="collapse" data-target="#search-box">
              <i class="material-icons">search</i>
            </button>
            <div id="search-box" class="collapse">
              <input id="search-box-sub" type="text" class="form-control" placeholder="Search">
            </div>
          </form>

          <!-- Login + Create event -->
          <ul class="nav navbar-nav navbar-right">
            <a href="Profile.html"><i class="material-icons">face</i></a>
            <a href="EventForm.html"><i class="material-icons">add</i></a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<div class="row">
  {% block content %}{% endblock %}
</div>

<!--Footer-->
<div class="row">
  <footer class="Footer">
    <ul class="Footer-items">
      <li class="Footer-item"><a target="_blank" href="https://twitter.com/" class="Footer-link">
        <span class="Footer-icon fa fa-twitter"></span>
      </a>
    </li>
    <li class="Footer-item"><a target="_blank" href="https://github.com/aasthan/web-programming" class="Footer-link">
      <span class="Footer-icon fa fa-github"></span>
    </a>
  </li>
  <li class="Footer-item"><a target="_blank" href="https://www.linkedin.com" class="Footer-link">
    <span class="Footer-icon fa fa-linkedin"></span>
  </a>
</li>
<li class="Footer-item"><a target="_blank" href="https://mail.google.com/" class="Footer-link">
  <span class="Footer-icon fa fa-envelope"></span>
</a>
</li>
</ul>
</footer>
<!--/Footer-->
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- App code -->
<script src="{% static 'js/app.js' %}"></script>
</div>
</body>
</html>
