{% extends "base_generic.html" %}

{% block title %}<title>Homepage</title>{% endblock %}

{% block content %}
  {% if event_list %}
  <!-- First carousel -->
  <h1 class="headline" id="latest">Happening Now</h1>
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel">
      <div class="carousel-inner">
        {% for event in event_list %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="https://www.facebook.com/events/514041098956667/">
              <div class="col-lg-4 col-sm-6">
                <div class="post-module">
                  <img src="{{ event.picture.url }}" class="img-responsive">

                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <div class="date">
                      <div class="month">{{ event.display_month }}</div>
                      <div class="day">{{ event.display_day }}</div>
                    </div>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">{{ event.price }}</div>
                    <h1 class="title">{{ event.title }}</h1>
                    <h2 class="sub_title">{{ event.display_tag }}</h2>
                    <p class="description">{{ event.description }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {%endfor%}
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>

    <h1 class="headline" id="popular">Popular</h1>
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner">
          {% for event in event_list %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <a href="https://www.facebook.com/events/514041098956667/">
                <div class="col-lg-4 col-sm-6">
                  <div class="post-module">
                    <img src="{{ event.picture.url }}" class="img-responsive">

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <div class="date">
                        <div class="month">{{ event.display_month }}</div>
                        <div class="day">{{ event.display_day }}</div>
                      </div>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                      <div class="category">{{ event.price }}</div>
                      <h1 class="title">{{ event.title }}</h1>
                      <h2 class="sub_title">{{ event.display_tag }}</h2>
                      <p class="description">{{ event.description }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%endfor%}
          </div>
          <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>

  {% else %}
    <p>There are no events.</p>
  {% endif %}
{% endblock %}
