{% extends "base_generic.html" %}

{% block title %}<title>Event Details</title>{% endblock %}



{% block content %}

{% load static %}
<!-- Event detail css -->
<link rel="stylesheet" href="{% static 'css/event-details.css' %}">

<!--Main feed-->
<div class="container">

	<!-- Sort by latest date -->
	<h1>Event Details</h1>
	<div class="row">
		<div class="col-lg-6 spacing">
			<img src="{{ event.picture.url }}" id="event-img">
		</div>

		<div class="col-lg-6 spacing">
			<div class="details-info">
				<span class="title"> Name: </span> <span> {{ event.title  }}</span>
				<hr class="line">
				<span class="title">Date: </span> <span> {{ event.start_time }}</span>
				<hr class="line">
				<span class="title">Price:</span> <span>{{ event.price }}</span>
				<hr class="line">
				<span class="title">Description: </span> <span>{{ event.description }}</span>
				<hr class="line">
				<span class="title">Location: </span><span>{{ event.location }}</span>
				<hr class="line">
				<span class="title">Link to website: </span> <span><a href ="{{ event.location }}"> {{ event.location }} </a></span>
				<hr class="line">
				<span class="title">Tags:</span> <span>{{ event.tag }}</span>
				<hr class="line">
			</div>
		</div>
	</div>

<!-- Save button -->
    <div class="row">
      <div class="col-lg-6">
        <input type="submit" class="btn btn-info" id="btn-save" value="Save Event"/>
      </div>
    </div>

    <!-- Google Map -->
    <div class="row">
      <h1>Event Map</h1>
      <div class="col-lg-12">
        <div id="map"></div>
      </div>
    </div>

  {% if event_list %}
  <!-- Carousel -->
  <h1 class="headline" id="latest">Related Events</h1>
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel">
      <div class="carousel-inner">
        {% for event in event_list %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="https://www.facebook.com/events/514041098956667/">
              <div class="col-lg-4 col-sm-6">
                <div class="post-module">
                  <img src="{{ event.picture.url }}" class="img-responsive">

                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <div class="date">
                      <div class="month">{{ event.display_month }}</div>
                      <div class="day">{{ event.display_day }}</div>
                    </div>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">{{ event.price }}</div>
                    <h1 class="title">{{ event.title }}</h1>
                    <h2 class="sub_title">{{ event.display_tag }}</h2>
                    <p class="description">{{ event.description }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {%endfor%}
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>


  {% else %}
    <p>There are no related events.</p>
  {% endif %}

</div>
<!-- Load static specifically for event Details -->
{% load static %}
<script src="{% static 'js/mapApp.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTfZTLi0kVszSooq2pis--5unlnmD5m2s  &callback=initMap"></script>

{% endblock %}