{% extends "base_generic.html" %}

{% block title %}<title>Filter Events by Location</title>{% endblock %}

{% block content %}
      <!-- First carousel -->
  
  <h1 class="headline" id="latest">Location: Amherst College</h1>
  {% if locationAmherst %}
  <div class="col-md-12">
    <div class="carousel slide multi-item-carousel" id="theCarousel">
      <div class="carousel-inner">
        {% for event in locationAmherst %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="{{event.get_absolute_url}}">
              <div class="col-lg-4 col-sm-6">
                <div class="post-module">
                  <img src="{{ event.picture.url }}" class="img-responsive">

                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <div class="date">
                      <div class="month">{{ event.display_month }}</div>
                      <div class="day">{{ event.display_day }}</div>
                    </div>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">{{ event.price }}</div>
                    <h1 class="title">{{ event.title }}</h1>
                    <h2 class="sub_title">{{ event.display_tag }}</h2>
                    <p class="description">{{ event.description }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        {%endfor%}
        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
    {% else %}
      <p>There are no events.</p>
    {% endif %}

    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <h1 class="headline" id="popular">Location: UMass</h1>
    {% if locationUMass %}
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner">
          {% for event in locationUMass %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <a href="{{event.get_absolute_url}}">
                <div class="col-lg-4 col-sm-6">
                  <div class="post-module">
                    <img src="{{ event.picture.url }}" class="img-responsive">

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <div class="date">
                        <div class="month">{{ event.display_month }}</div>
                        <div class="day">{{ event.display_day }}</div>
                      </div>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                      <div class="category">{{ event.price }}</div>
                      <h1 class="title">{{ event.title }}</h1>
                      <h2 class="sub_title">{{ event.display_tag }}</h2>
                      <p class="description">{{ event.description }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%endfor%}
          </div>
          <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
      {% else %}
      <p>There are no events.</p>
    {% endif %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <h1 class="headline" id="popular">Location: Mount Holyoke College </h1>
      {% if locationMtHolyoke %}
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner">
          {% for event in locationMtHolyoke %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <a href="{{event.get_absolute_url}}">
                <div class="col-lg-4 col-sm-6">
                  <div class="post-module">
                    <img src="{{ event.picture.url }}" class="img-responsive">

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <div class="date">
                        <div class="month">{{ event.display_month }}</div>
                        <div class="day">{{ event.display_day }}</div>
                      </div>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                      <div class="category">{{ event.price }}</div>
                      <h1 class="title">{{ event.title }}</h1>
                      <h2 class="sub_title">{{ event.display_tag }}</h2>
                      <p class="description">{{ event.description }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%endfor%}
          </div>
          <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
      {% else %}
      <p>There are no events.</p>
    {% endif %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <h1 class="headline" id="popular">Location: Hampshire College </h1>
      {% if locationHampshire %}
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner">
          {% for event in locationHampshire %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <a href="{{event.get_absolute_url}}">
                <div class="col-lg-4 col-sm-6">
                  <div class="post-module">
                    <img src="{{ event.picture.url }}" class="img-responsive">

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <div class="date">
                        <div class="month">{{ event.display_month }}</div>
                        <div class="day">{{ event.display_day }}</div>
                      </div>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                      <div class="category">{{ event.price }}</div>
                      <h1 class="title">{{ event.title }}</h1>
                      <h2 class="sub_title">{{ event.display_tag }}</h2>
                      <p class="description">{{ event.description }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%endfor%}
          </div>
          <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
      {% else %}
      <p>There are no events.</p>
    {% endif %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <h1 class="headline" id="popular">Location: Smith College </h1>
      {% if locationSmith %}
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarousel2">
        <div class="carousel-inner">
          {% for event in locationSmith %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <a href="{{event.get_absolute_url}}">
                <div class="col-lg-4 col-sm-6">
                  <div class="post-module">
                    <img src="{{ event.picture.url }}" class="img-responsive">

                    <!-- Thumbnail-->
                    <div class="thumbnail">
                      <div class="date">
                        <div class="month">{{ event.display_month }}</div>
                        <div class="day">{{ event.display_day }}</div>
                      </div>
                    </div>
                    <!-- Post Content-->
                    <div class="post-content">
                      <div class="category">{{ event.price }}</div>
                      <h1 class="title">{{ event.title }}</h1>
                      <h2 class="sub_title">{{ event.display_tag }}</h2>
                      <p class="description">{{ event.description }}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {%endfor%}
          </div>
          <a class="left carousel-control" href="#theCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
      {% else %}
      <p>There are no events.</p>
    {% endif %}

     
        
{% endblock %}
