{% extends "base_generic.html" %}

{% block content %}
	<h1> Search Results </h1>

	{% if event_list %}
      {% for event in event_list %}
      <a href="{{event.get_absolute_url}}">
              <div class="col-lg-4 col-sm-6">
                <div class="post-module">
                  <img src="{{ event.picture.url }}" class="img-responsive">

                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <div class="date">
                      <div class="month">{{ event.display_month }}</div>
                      <div class="day">{{ event.display_day }}</div>
                    </div>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category">{{ event.price }}</div>
                    <h1 class="title">{{ event.title }}</h1>
                    <h2 class="sub_title">{{ event.display_tag }}</h2>
                    <p class="description">{{ event.description }}</p>
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
	{% else %}
		<p> There are no such events :(. </p>
	{% endif %}
{% endblock %}
