{% extends "base_generic.html" %}
{% block title %}<title>Password Reset Confirm</title>{% endblock %}
{% block content %}

<style>
    .radio-inline{float: left;display:inline-block;padding-right: 5px;background-color: #f0eee2;}
    input[type=text], input[type=url], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        align-items: left;
        position:absolute;
    }
    .row {font-size: 14px;vertical-align:super;}
    label {padding: 12px 12px 12px 0;display: inline-block;}
    input[type=submit] {
        background-color: #ffc800;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        float: right;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
        position:absolute;
        left: 235px;
    }
    
</style>
    <h1> Reset Your Password</h1>
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
