{% extends "base_generic.html" %}
{% block title %}<title>Password Reset</title>{% endblock %}
{% block content %}
<style>
		.radio-inline{float: left;display:inline-block;padding-right: 5px;background-color: #f0eee2;}
		input[type=text], input[type=url], select, textarea{
		    width: 100%;
		    padding: 12px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		    box-sizing: border-box;
		    resize: vertical;
            align-items: left;
            position:absolute;
		}
		.row {font-size: 14px;vertical-align:super;}
		label {padding: 12px 12px 12px 0;display: inline-block;}
		input[type=submit] {
            background-color: #ffc800;
		    color: white;
		    padding: 12px 20px;
		    border: none;
		    cursor: pointer;
		    float: right;
		    margin-left: 5px;
            margin-right: 5px;
            align-items: center;
            position:absolute;
            right:430px;
        }


</style>
<h1>Password Reset</h1>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>Enter your recovery email on record: {{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}
